* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerone {
  padding: 70px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(106, 136, 175);
}

.quizcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 800px;
  max-width: 26%;
  background-color: rgb(171, 230, 195);
  border-radius: 10px;
  padding: 15px;
}

.questioncont {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 10px 5px;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
}

/*button display style start*/
.quizbtns {
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 12px;
}

.btn {
  height: 90%;
  font-size: 24px;
  font-weight: 600;
  padding: 15px;
  border-radius: 10px;
}

.btncontrols {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.btn.correct {
  background-color: rgb(33, 209, 136);
}

.btn.incorrect {
  background-color: red;
}

.start-btn {
  padding: 3px;
  border-radius: 10px;
  font-size: 27px;
  font-weight: bold;
}

.next-btn {
  padding: 3px;
  border-radius: 10px;
  font-size: 27px;
  font-weight: bold;
}

.divspan {
  display: flex;
  align-items: center;
}

span {
  font-size: 20px;
}

/*nav style start*/
.navflex a {
  padding: 15px 0 0 25px;
  display: flex;
  flex-wrap: wrap;
  color: pink;
  text-decoration: none;
  font-size: 25px;
}

.navflex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 9999;
  background-color: rgb(106, 136, 175);
}

.navflex p {
  font-size: 25px;
  padding-right: 25px;
}
/*end of nav style*/

/*challenge window style start*/
/* .quizstarth2 {
  padding: 50px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 39px;
}

.quizstartinner {
  padding: 20px 415px 20px 415px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
} */

.hide {
  display: none;
}
